body{
    margin: 20px;
    font-family:algerian ;
}
.main{
    background: rgb(255, 215, 156);
    display: flex;
    padding: 24px;
    justify-content: space-around;
    border-radius: 9px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 5px solid rgb(255, 61, 255);
    font-size: 16px;
    text-shadow: 2px 2px 4px #121212;
}
.info-text{
    padding-top: 30px;
}
.info-text:hover{
    scale: 1.1;
    transition-duration: 2s;
    color: rgb(4, 11, 116);
    text-shadow: 0px 0px 8px #ff0000;
    
}
.avatar{
    width: 200px;
    border-radius: 5px;

}
.avatar:hover{
    scale: 1.1;
    rotate: 360deg;
    transition-duration: 2s;
}